# fly.toml app configuration file
app = "sistema-de-ventas-cognitivo-aut-nomo"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

# --- ¡LA LÍNEA MÁGICA QUE LE DA MÁS AIRE! ---
[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
