# fly.toml app configuration file generated for sistema-de-ventas-cognitivo-aut-nomo-silent-fire-1640 on 2025-11-09T17:49:23-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sistema-de-ventas-cognitivo-aut-nomo-silent-fire-1640'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
