# === Servidor Web ===
Flask==3.0.3
gunicorn==22.0.0
Flask-Babel==4.0.0
python-dotenv==1.0.1

# === Inteligencia Artificial ===
google-generativeai>=0.4.0
langchain>=0.1.20
langchain-google-genai>=0.1.4
langchain-community # <-- ¡LA PIEZA CLAVE PARA LA MEMORIA!

# === Herramientas y Bases de Datos ===
apify-client==2.2.1
psycopg2-binary==2.9.9
gspread==6.0.2
beautifulsoup4==4.12.3
SQLAlchemy==2.0.25
supabase
psycopg
psycopg-binary
