# === Servidor Web ===
Flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
requests

# === Internacionalización ===
Flask-Babel==4.0.0

# === Inteligencia Artificial ===
google-generativeai
langchain
langchain-google-genai
langchain-community

# === Herramientas y Bases de Datos ===
psycopg2-binary
psycopg
SQLAlchemy
supabase

# === Herramientas Externas y Varios ===
apify-client
gspread
oauth2client
beautifulsoup4
twilio
